<% if @investments.any? %>
  <% @investments.each do |investment| %>
    <h2><%= investment.name %></h2>
  <% end %>
<% else %>
  Your wallet is empty
<% end %>

<%= link_to 'Add ticker', new_investment_path %>