<h2>Holding value: $<%= number_with_precision((@investment.quantity * @investment.quote.ask), precision: 2, delimiter: ',') %></h2>
<p>Units: <%= @investment.quantity %></p>
<p><%= link_to 'Edit units', edit_investment_path(@investment) %></p>
<input type="hidden" id="symbol" value=<%= @investment.quote.symbol %>>
<script>
var symbol = document.getElementById('symbol').value;
new TradingView.widget({
  "width": 998,
  "height": 610,
  "symbol": symbol,
  "interval": "D",
  "timezone": "exchange",
  "theme": "Black",
  "style": "3",
  "toolbar_bg": "#9fc5e8",
  "withdateranges": true,
  "details": true,
  "news": [
    "headlines"
  ],
  "hideideas": true,
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650"
});
</script>