<h2>Holding value: $<%= (@investment.quote.ask * @investment.quantity).round(2) %></h2>

<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<script type="text/javascript">
new TradingView.widget({
  "width": 998,
  "height": 610,
  "symbol": "NASDAQ:AAPL",
  "interval": "D",
  "timezone": "exchange",
  "theme": "Black",
  "style": "3",
  "toolbar_bg": "#9fc5e8",
  "withdateranges": true,
  "details": true,
  "news": [
    "headlines"
  ],
  "hideideas": true,
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650"
});
</script>